##############################
# IntelliJ IDEA
##############################

.idea/
*.iml

##############################
# Eclipse
##############################

.project
.classpath
.settings/

##############################
# VS Code
##############################

.vscode/

##############################
# Maven
##############################

target/

##############################
# Java
##############################

*.class
*.log

##############################
# Spring Boot
##############################

logs/
*.log
*.pid

##############################
# OS Files
##############################

.DS_Store
Thumbs.db

##############################
# Node
##############################

node_modules/
dist/

##############################
# Environment
##############################

.env
.env.*

##############################
# Docker
##############################

*.tar

##############################
# Coverage
##############################

coverage/

##############################
# Generated
##############################

out/
bin/